/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.5rem;
}

body {
    margin-top: 75px;
    width: 100vw;
}

body section {
    margin-bottom: 15px;
}

/* Header Title */
.headtitle {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headtitle div {
    text-align: center;
}

.headtitle .headtitle-cont{
    margin-bottom: 5px;
}

/* Languages section & WikiLogo */

.languages{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Wikipedia-logo-transparent.png/263px-Wikipedia-logo-transparent.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
}

.languages {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.languages .leftLang li {
    justify-content: flex-end;
}

.languages .rightLang li {
    justify-content: flex-start;
}

.languages li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
}


.languages li span{
    display: block;
    font-size: 1.3rem;
    color: #54595d;
    text-decoration: none;
}

.languages li a{
    color: #3366cc;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
}

.languages button {
    width: 156px;
    height: 45px;
    background-color: white;
    border: none;
    justify-self: center;
}

.languages button:hover{
    background-color: #eaecf0;
    cursor: pointer;
}

.languages button:hover a {
    text-decoration: underline;
}

.languages .leftButton1 {
    margin-right: 60px;
}

.languages .leftButton2 {
    margin-right: 100px;
}

.languages .leftButton3 {
    margin-right: 120px;
}

.languages .rightButton1 {
    margin-left: 60px;
}

.languages .rightButton2 {
    margin-left: 100px;
}

.languages .rightButton3 {
    margin-left: 120px;
}

/* Search Bar */

body .search-bar {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 45px;
}

body .search-bar div {
    border: 1px solid #a2a9b1;
    width: 400px;
}
body .search-bar input {
    height: 100%;
    border: none;
    width: 280px;
    margin-left: 10px;
    outline: none;
}

body .search-bar select {
    height: 100%;
    border: none;
    width: 50px;
}

body .search-bar button {
    width: 58px;
    height: 100%;
    background-color: #3366cc;
    border: none;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Ic_search_48px.svg/640px-Ic_search_48px.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

body .search-bar button:hover{
    background-color: #447ff5;
}
